/*Cores Formiga*/
f{
    color: #AAB6F8;
}
v2{
    color: #c72e2e;
}
v3{
    color: #EE3B3B;
}
/*Azuis*/
a1{
    color: ##5a36bf;
}
a2{
    color: #8a66bd;
}
a3{
    color: #24bbed;
}
a4{
    color: #329fb3;
}
a5{
    color: #7874B0;
}
a6{
    color:  #664fb0;
}
