/*Cores Formiga*/
f{
    color: #AAB6F8;
}
v2{
    color: #c72e2e;
}
v3{
    color: #EE3B3B;
}
/*NPCs*/
c{
    color: #97E21E;
}
c1{
    color: #38BEA2;
}
c2{
    color: #24bbed;
}
c3{
    color: #329fb3;
}
c4{
    color: #7874B0;
}
a6{
    color:  #664fb0;
}
